@import '../../../components/variables.css';

html, body { height: 100%; background: lightgrey;}

.root {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.inputFrame {
    float: left;
    width: 50%;
    height: 100%;
}

.button {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 10px 16px;
    width: 10%;
    height: 50px;
    outline: 0;
    border: 1px solid #373277;
    border-radius: 0;
    background: #373277;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.3333333;
    cursor: pointer;
}